<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Event Management System{% endblock title %}</title>
    <style>
        :root {
            color-scheme: dark light;
        }
    </style>
</head>
<body>
    <header>
        <nav>
            <div>
                <a href="{% url 'events:index' %}"><h1>EMS</h1></a>
            </div>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock content %}
    </main>
    <footer>
        <p>&copy; {% now "Y" %} Event Management System. All Rights Reserved.</p>
    </footer>
</body>
</html>